<div class="damageTable">
  <table class="damage-table" style="width:100%; border-collapse: collapse;">
    <thead>
      <tr>
          <th class="sortable" data-key="name" style="border-bottom: 1px solid #ccc; text-align: left;">Name {{log this}}
          {{#if (eq sortKey "name")}}
            {{#if isSortAsc}}↑{{else}}↓{{/if}}
          {{/if}}
        </th>
        <th class="sortable" data-key="maxDmgRoll" style="border-bottom: 1px solid #ccc; text-align: center;">Max Roll
          {{#if (eq sortKey "maxDmgRoll")}}
            {{#if isSortAsc}}↑{{else}}↓{{/if}}
          {{/if}}
        </th>
        <th class="sortable" data-key="maxDmg" style="border-bottom: 1px solid #ccc; text-align: center;">Max Hit
          {{#if (eq sortKey "maxDmg")}}
            {{#if isSortAsc}}↑{{else}}↓{{/if}}
          {{/if}}
        </th>
        <th class="sortable" data-key="totDmg" style="border-bottom: 1px solid #ccc; text-align: center;">Total Damage  
          {{#if (eq sortKey "totDmg")}}
            {{#if isSortAsc}}↑{{else}}↓{{/if}}
          {{/if}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if actors.length}}
        {{#each actors}}
          <tr>
            <td>
              {{#unless this.isNPC}}<strong>{{this.name}}</strong>{{else}}{{this.name}}{{/unless}}
            </td>
            <td style="text-align: center;">{{this.maxDmgRoll}}</td>
            <td style="text-align: center;">{{this.maxDmg}}</td>
            <td style="text-align: center;">{{this.totDmg}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr><td colspan="5" style="text-align: center;"><strong><i>There is no tracking data saved.</i></strong></td></tr>
      {{/if}}
    </tbody>
  </table>
  <p><strong>Bolded names</strong> are Player Characters. <p></p>
</div>