<form>
  <div style="display: flex; justify-content: space-between; padding: 0 10px;">
    <button type="button" class="clear-tracking-button" style="min-width: 180px;">
      <i class="fas fa-trash"></i> Clear Tracking Data
    </button>

    <button type="button" class="clear-NPCs-button" style="min-width: 180px;">
      <i class="fas fa-cogs"></i> Clear NPC Tracking Data
    </button>
  </div>

  <div class="copyable-content">
    <table class="damage-table" style="width:100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th style="border-bottom: 1px solid #ccc; text-align: left;">Name</th>
          <th style="border-bottom: 1px solid #ccc; text-align: center;">Max Roll</th>
          <th style="border-bottom: 1px solid #ccc; text-align: center;">Max Hit</th>
          <th style="border-bottom: 1px solid #ccc; text-align: center;">Total Damage</th>
        </tr>
      </thead>
      <tbody>
        {{#if actors.length}}
          {{#each actors}}
            <tr>
              <td>
                {{#unless isNPC}}<strong>{{name}}</strong>{{else}}{{name}}{{/unless}}
              </td>
              <td style="text-align: center;">{{maxDmgRoll}}</td>
              <td style="text-align: center;">{{maxDmg}}</td>
              <td style="text-align: center;">{{totDmg}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr><td colspan="5" style="text-align: center;"><strong><i>There is no tracking data saved.</i></strong></td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  <p><strong>Bolded names</strong> are Player Characters. <p>

  <div class="export-controls" style="margin-top: 1em;">
    <button type="button" class="export-damage-map">
      <i class="fas fa-download"></i> Export Damage Data
    </button>    
  </div>
</form>
